{{page-title "TestDetails"}}
<header>
  <NavigationNarrator/>
  <h1>So, Details?</h1>
  <details>
    <summary>User Menu</summary>
    <ul>
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="alpha">Alpha</LinkTo></li>
      <li><LinkTo @route="bravo">Bravo</LinkTo></li>
      <li><LinkTo @route="charlie">Charlie</LinkTo></li>
    </ul>
  </details>
</header>
<main id="main">
  <p>The purpose of this site is to test using a details element with assistive tech.</p>
{{outlet}}
</main>
<footer>
  <p><a href="https://github.com/MelSumner/test-details/blob/main/README.md">GitHub README with notes</a>.</p>
</footer>