{{page-title "Bravo"}}
<h2>Page Title</h2>
<p>this is the bravo page</p>

<details>
  <summary>Another details element with 
    <LinkTo @route="alpha">A link to alpha</LinkTo>
  </summary>
  <p>Other content here with a 
    <LinkTo @route="charlie">Link to charlie</LinkTo>
  </p>
</details>
{{outlet}}